Repository Azure/aad-pod-identity, pull requests merged in 2020-07, with the labels that each got.

#667 test: convert e2e test cases from old to new framework (part 5)
  .pipelines/e2e-tests-template-new.yml
  .pipelines/e2e-tests-template.yml
  .pipelines/pr.yml
  Makefile
  test/e2e_new/backward_compat_test.go
  test/e2e_new/framework/azureassignedidentity/azureassignedidentity_helpers.go
  test/e2e_new/framework/azureidentity/azureidentity_helpers.go
  test/e2e_new/framework/azureidentitybinding/azureidentitybinding_helpers.go
  test/e2e_new/framework/azurepodidentityexception/azurepodidentityexception_helpers.go
  test/e2e_new/framework/helm/helm_helpers.go
  test/e2e_new/framework/identityvalidator/identityvalidator_helpers.go
  test/e2e_new/framework/iptables/iptables_helpers.go
  test/e2e_new/framework/mic/mic_helpers.go
  test/e2e_new/framework/namespace/namespace_helpers.go
  test/e2e_new/framework/node/node_helpers.go
  test/e2e_new/framework/timeout.go
  test/e2e_new/gatekeeper_test.go
  test/e2e_new/identity_exception_test.go
  test/e2e_new/immutable_identity_test.go
  test/e2e_new/node_test.go
Labels: test improvement

#540 Handle MSI auth requests by ResourceID
  pkg/nmi/managed.go
  pkg/nmi/managed_test.go
  pkg/nmi/nmi.go
  pkg/nmi/server/server.go
  pkg/nmi/server/server_test.go
  pkg/nmi/standard.go
  pkg/nmi/standard_test.go
  test/e2e/aadpodidentity_test.go
  test/e2e/identityvalidator/identityvalidator.go
Labels: enhancement

#666 refactor: better error messages and handling
  cmd/demo/main.go
  cmd/mic/main.go
  cmd/nmi/main.go
  cmd/simple/main.go
  pkg/auth/auth.go
  pkg/cloudprovider/cloudprovider.go
  pkg/cloudprovider/vm.go
  pkg/cloudprovider/vmss.go
  pkg/crd/crd.go
  pkg/filewatcher/filewatcher.go
  pkg/k8s/client.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/metrics/prometheus_exporter.go
  pkg/mic/mic.go
  pkg/mic/mic_test.go
  pkg/nmi/iptables/iptables.go
  pkg/nmi/managed.go
  pkg/nmi/nmi.go
  pkg/nmi/server/server.go
  pkg/nmi/standard.go
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/probes/probes.go
  pkg/stats/stats.go
  pkg/utils/utils.go
  test/e2e/identityvalidator/identityvalidator.go
Labels: cleanup

#682 feat: trigger MIC sync when a pod label changes
  pkg/pod/pod.go
  test/e2e/framework/identityvalidator/identityvalidator_helpers.go
  test/e2e/multiple_identities_test.go
Labels: enhancement

#687 ci: add soak testing as part of nightly build & test and remove Jenkinsfile
  .pipelines/build-images.yml
  .pipelines/cleanup-images.yml
  .pipelines/e2e-tests-template.yml
  .pipelines/nightly.yml
  .pipelines/soak-tests-template.yml
  Jenkinsfile
  Makefile
  test/e2e/e2e_suite_test.go
  test/e2e/framework/exec/kubectl.go
  test/e2e/framework/mic/mic_helpers.go
  test/e2e/framework/pod/pod_helpers.go
  test/e2e/liveness_probe_test.go
Labels: test improvement

#715 test: add e2e test for block-instance-metadata
  docs/readmes/README.featureflags.md
  test/e2e/backward_compat_test.go
  test/e2e/block_instance_metadata_test.go
  test/e2e/disruptive_test.go
  test/e2e/framework/helm/helm_helpers.go
  test/e2e/framework/iptables/iptables_helpers.go
  test/e2e/gatekeeper_test.go
  test/e2e/identity_exception_test.go
  test/e2e/init_containers_test.go
  test/e2e/invalid_identities_test.go
  test/e2e/liveness_probe_test.go
  test/e2e/multiple_identities_test.go
  test/e2e/node_test.go
  test/e2e/single_identity_test.go
Labels: test improvement
